

 .search-box {
  max-width: 300px;
  margin: 0 auto;
}


.image{
    width: 100%;
    
   
} 

.home-container {
  background-image: url('./image.jpeg');
  
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 2rem;

}



input.form-control {
  max-width: 300px;
}

.icon {
  font-size: 3rem;
}
.mb-2{
  color: white;
}

